/* General Section Styling */
.teamSection {
  text-align: center;
  flex-direction: column;
}

.heading {
  margin-bottom: 30px;
}

.description {
  margin-bottom: 100px;
}

/* Grid Styling */
.teamGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 75px;
}

/* Team Item Styling */
.teamItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  width: 100%;
  aspect-ratio: calc(16 / 9);
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 10px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.label {
  margin-top: 10px;
  padding: 8px 20px;
  background: transparent;
  border: 2px solid #e23809;
  border-radius: 10px;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.label:hover {
  background-color: #e23809;
  color: white;
}
