.navbar {
  background-color: #fff;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarContainer {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo img {
  display: block;
  width: auto;
  height: 60px;
  transition: filter 0.3s ease;
}

.logo:hover img {
  filter: brightness(0.6);
}

.navLinks {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex: 1;
  text-align: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  transition: color 0.3s ease, text-decoration 0.3s ease;
  font-family: "Inter", sans-serif;
}

.link:hover,
.link.active {
  color: red;
  text-decoration: underline;
}

@media only screen and (max-width: 1280px) {
  .navLinks {
    gap: 30px;
  }
}

@media only screen and (max-width: 1000px) {
  .navLinks {
    display: none;
  }
}

@media only screen and (max-width: 720px) {
  .buttons {
    display: none;
  }
}
