.heroContainer {
  width: 100vw;
  height: 600px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.home {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
    url("/Control-V.png");
  background-size: cover;
  background-position: left;
}

.who_we_are {
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url("/wwahero.png");
  background-size: cover;
  background-position: left;
}

.resources {
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("/resourceshero.jpg");
  background-size: cover;
  background-position: left;
}

.donate {
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("/donate_hero.png");
  background-size: cover;
  background-position: left;
}

.request_appointment {
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("/rahero.jpg");
  background-size: cover;
  background-position: left;
}

.heroHeader {
  color: white;
  margin-bottom: 15px;
  font-size: 3.5em;
}

.text_box {
  /* width: 1200px; */
  margin-bottom: 100px;
}

.button_box {
  display: flex;
  gap: 15px;
}

@media only screen and (max-width: 1280px) {
  .heroHeader {
    font-size: 3.25em;
  }
}

@media only screen and (max-width: 1000px) {
  .heroHeader {
    font-size: 2.75em;
  }
}

@media only screen and (max-width: 720px) {
  .heroHeader {
    font-size: 3rem;
  }

  .text_box {
    margin-bottom: 15vh;
  }

  .heroContainer {
    height: calc(100vh - 80px);
    background-size: cover;
    background-position: left;
  }

  .button_box {
    flex-direction: column;
  }
}
