.container {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  max-width: 100%;
  box-sizing: border-box;
}

@media only screen and (max-width: 1000px) {
  .container {
    gap: 10px;
  }
}

@media only screen and (max-width: 720px) {
  .container {
    gap: 50px;
  }
}
