.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  border-bottom: 8px solid;
  border-left: 8px solid;
  padding: 20px 30px;
  text-align: center;
  background-color: #fff;
  flex: 1;
}

.icon {
  width: 120px;
  height: 120px;
  margin-bottom: 16px;
  border-radius: 200px;
}

.title {
  margin: 25px 0;
  color: black;
  font-size: 40px;
}

.description {
  color: #555;
  margin-bottom: 16px;
}

@media only screen and (max-width: 1280px) {
  .panel {
    padding: 20px 15px;
  }

  .title {
    font-size: 32px;
  }
}

@media only screen and (max-width: 1000px) {
  .title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 720px) {
  .panel {
    width: 100%;
    padding: 20px 30px;
  }

  .title {
    font-size: 32px;
  }
}
