.WWAContainer {
  width: 100vw;
  height: 600px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),
    url("/WWA.png");
  background-size: cover;
  background-position: left;
  display: flex;
  align-items: end;
  justify-content: center;
}

.WWAHeader {
  color: white;
  margin-bottom: 15px;
  font-size: 3.5em;
}

.text_box {
  /* width: 1200px; */
  margin-bottom: 100px;
}

.button_box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media only screen and (max-width: 1280px) {
  .WWAHeader {
    font-size: 3.25em;
  }
}

@media only screen and (max-width: 1000px) {
  .WWAHeader {
    font-size: 2.75em;
  }
}

@media only screen and (max-width: 720px) {
  .WWAHeader {
    font-size: 2.75em;
  }
  .heroContainer {
    height: 70vh;
  }
}
