.RAHeroContainer {
    width: 100vw;
    height: 600px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)), url('/RAHero.png');
    background-size: cover;
    background-position: left;
    display: flex;
    align-items: end;
    justify-content: center;
}
.RAHeroHeader {
    color: white;
    font-size: 3.5em;
    margin-bottom: 15px;
}


.text_box {
    width: 1200px;
    /* background-color: green; */
    margin-bottom: 100px;

}