@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-lustria: "Lustria", serif;
  --font-inter: "Inter", sans-serif;
}

.main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ececec;
}

h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--font-inter);
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
  color: #808080;
}

h4 {
  font-size: 25px;
}

p {
  font-size: 18px;
}
