.aboutColumn {
  display: flex;
  justify-content: center;
}

.aboutText {
  display: flex;
  align-items: center;
  width: 800px;
  margin-right: 100px;
}

.imageContainer {
  overflow: hidden;
  width: 400px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  height: 500px;
  width: auto;
  object-fit: cover;
}
