.quoteContainer {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 50px 0; */
}

.text_box {
  /* margin-bottom: 100px; */
}

.leadingText {
  text-align: left;
  font-size: 1.3em;
  color: #000000;
  padding-bottom: 20px;
}

.quoteText {
  text-align: center;
  font-size: 4em;
  color: #000000;
  padding-bottom: 20px;
}

.authorText {
  text-align: right;
  font-size: 1.3em;
  color: #000000;
}

@media only screen and (max-width: 1280px) {
  .quoteText {
    font-size: 3.25em;
  }
}

@media only screen and (max-width: 1000px) {
  .quoteContainer {
    height: 450px;
  }
  .leadingText {
    font-size: 1em;
  }

  .quoteText {
    font-size: 2em;
  }

  .authorText {
    font-size: 1em;
  }
}

@media only screen and (max-width: 720px) {
  .quoteText {
    font-size: 1.5em;
  }
  .quoteContainer {
    height: 350px;
  }
}
