.container {
  padding: 60px 0;
  text-align: center;
}

.heading {
  margin-bottom: 70px;
}

.button {
  margin-top: 80px;
  padding: 12px 24px;
  font-size: 1rem;
  color: #fff;
  background-color: #b91c1c;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
