.stats {
  display: flex;
  /* justify-content: space-between; */
  /* background-color: lightblue; */
}

.stat {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stat_title {
  font-weight: bold;
  font-family: "Inter", sans-serif;
}

.stat_description {
}

@media only screen and (max-width: 720px) {
  .stats {
    gap: 75px;
  }
  .stat_title {
    font-size: 50px;
  }

  .stat_description {
    font-size: 20px;
  }
}
