.testimonial {
  display: flex;
  /* background-color: lightblue; */
}

.text_box {
  width: 55%;
  padding: 50px 0;
  padding-right: 25px;
}

.quote_text {
  /* font-size: 45px; */
}

.author_text_box {
  width: 100%;
  text-align: right;
}

.author_text {
  font-family: "Lustria";
  font-size: 30px;
}

.image_box {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.image {
  width: 350px;
  margin-left: 100px;
}

@media only screen and (max-width: 720px) {
  .testimonial {
    align-items: center;
    justify-content: center;
    gap: 75px;
  }

  .text_box {
    width: 100%;
    padding: 0;
  }

  .quote_text {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .image_box {
    width: 85vw;
    align-items: center;
    justify-content: center;
    background-color: red;
  }

  .image {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
